<div class="container">
    <div class="contact-us-content">
        <h1 style="font-size: 60px;font-weight: 100;color:black;text-align: center;">Contact Details</h1>
        <h3 style="font-weight: 200;font-size: 25px; color:black;text-align:center">We provide Solutions for all your Problems!</h3>
        <br><br>
        <table class="table table-light">
            <thead>
                <tr>
                    <th>Services</th>
                    <th>Values</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Phone (24*7)</b></td>
                    <td>+919000010000</td>
                </tr>
                <tr>
                    <td><b>Email Id</b></td>
                    <td>corporateclassifieds@gmail.com</td>
                </tr>
                <tr>
                    <td><b>Address</b></td>
                    <td>
                        <address>20/130, Kukatpally, Hyderabad, India PIN:500082
                        </address>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-dark" href="/homepage">Back</a>
    </div>
</div>